main {
    display: inline-block;
    width: 100%;
}
.main_img{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.grid {
    background-image: images/ba;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;

}
div img {
    border-radius: 70%;
    max-width: 80%;
    margin: 22px;
    padding: 35px;
    border: solid#000000;
    
}